mixin title
    | Acknowledgements
body.bg-info    
    include header.pug
    .container
        row
            col-12
                h1.pt-3 
                    +title
                p These resources have been provided through RMIT's internal channels to the VEDT. And a lot of legwork by the dedicated VEDT team - 
                ul
                    li Elissa McKenzie
                    li Andrew Newhouse
                    li Gordon Napier
                    li Rebecca Summits
                    li Jack Dunstan
                    li Claire Tao
                    li Erica Managh
                    li Oliver Lorraine-Wedd
                    li Ardis Cheng
                    li Nicky Callinan
                    li Joshua Davies
                    li Caitlin Cleghorn
                    li Lawrence Makoona
                    li Nikhil Chand
                    li Haley Gunn
                    li Jane Harding
                    li Adrian Satrianugraha
                    li Riley Barber
                    li Jaydene Callaghan
                    li Anirudh Pakshi mana
                    li Lilly Finlayson
                    li Janet McHardy
                    li Sinead Murphy
                    li Sarah Muldoon
                    li Ben Pell
                    li Gen Bourke

                h2 This site
                p Issues? Typos? bug me with bugs - jack.dunstan@rmit.edu.au
                p Includes technologies and resouces from
                ul
                    li FontAwesome - https://fontawesome.com/
                    li Dice Rolling thingo - https://codepen.io/TaeKwonJoe/pen/LRaoJW        
                    li Bootstrap - https://getbootstrap.com
                    li Clipboard saver, cross browser https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js
    include share.pug  
    include footer.pug    