mixin title
    | More great RMIT library supplied resources 
body.bg-secondary  
    include header.pug
    .container.mb-5
        row
            col-12
                h1.pt-3 
                    +title
                p Open Classrooms is a podcast series produced by the Academic Development Group in  Science, Engineering and Health.  Each podcast features interviews and stories from our staff who have opened up their classroom doors and shared their practices, innovations and ideas.
                ul
                    li
                        a(href='https://sites.rmit.edu.au/sister/open-classrooms/' title='Learn more here') Learn more here
                hr
                p The makerspace is mentioned by Oliver Jones from SEH
                ul
                    li
                        a(href='https://www.rmit.edu.au/library/about-and-contacts/hours-and-locations/makerspace' title='Learn more here') Learn more here
                    li    
                        a(href='https://sites.rmit.edu.au/sister/2019/04/08/open-classrooms-episode-4-oliver-jones/' title='Learn more here') Open classrooms
                hr
                p This project led by Megan Chudleigh to build a suite of discipline specific industry sites.
                p The sites are designed and built by graduate students and current students within the discipline areas are producing content through the addition of a weekly news blogs and daily tweeting. These sites present a very real opportunity to add a student voice to program content and resources and to bring current and contemporary targeted industry information into programs. 
                ul
                    li
                        a(href='https://sites.rmit.edu.au/sister/2019/09/25/discipline-focused-industry-websites/' title='Learn more here') Open classrooms

              

    include share.pug  
    include footer.pug    


