.container.position-sticky
    .row.fixed-bottom
        .col-12.text-center
            p.small This resource is maintained without support by the Vocational Education Design Team, RMIT

script.
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>')
script(src='js/plugins.js')
script(src='js/main.js')
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-149716401-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149716401-1');
