mixin title
    | Press Play
body.bg-secondary  
    include header.pug
    .container
        row
            col-12
                h1.pt-3 
                    +title
                p When there's little time to get industry engagement or have people in your network work through learning material, bring them into the studio.
                p The Press Play Studio has a approachable studio that can be a better use of you and your colleagues time if you need to quickly get material into Canvas. Recording down a 5 minute conversation can take as little as 5 minutes.
                p With audio quality this good, you'll be putting your hand up to volunteer for community radio!
                hr
                h2 More Info
                a(href='https://www.rmit.edu.au/staff/teaching-supporting-students/press-play' title='links to the RMIT site for more information') Press Play
    include share.pug  
    include footer.pug    